.container{
  .authInput{
    width: 100%;
    max-width: 320px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 30px;
    background-color: rgba($color: #fff, $alpha: 1.0);
    font-size: 12px;
    color: #000;
    &.authSubmit{
      background: #04aaff;
      color: #fff;
      text-align: center;
      cursor: pointer;
    }
  }
  .authError{
    color: tomato;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
  }
}
.authSwitch{
  display: block;
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 12px;
  text-decoration: underline;
  color: #04aaff;
  cursor: pointer;
}